..html{
    width: 100%;
    background: -webkit-linear-gradient(top,rgb(152, 100, 219),rgb(98, 105, 211)); ;
    height: 300px;
}
.html1{
    float: left;
    padding: 20px 40px;
    width: 700px;
}
.html p{
    line-height: 1.5;
}
.checked{
    color: yellow;
}
.html2{
        width: 400px;
        height: 645px;
        float: right;
        margin-top: 50px;
        margin-right: 20px;
        border: 1px solid gray;
        border-radius:10px;
}
#buymobile{
    margin-left: 20px;
    background-color: whitesmoke; 
    height: 20px;
    border-radius: 5px;
}
#mobile{
    margin-left: 20px;
    font-size: 20px;
}
form{
    background-color: rgb(223, 209, 209);padding: 5px;
}
.what-you{
        float: left;
        width: 780px;
        height: 800px;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 30px;
}
.foot{
    width: 100%;
    height: 300px;
    margin-top: 850px;
    background: -webkit-repeating-linear-gradient(top,gray,black);
}
